h1 {
  color: blue;
}

h2 {
  color: orange;
}

ul li {
  color: blue;
}

.fruits li {
  color: black;
  list-style-type: disc;
}

.fruits li:first-child {
  color: red;
}

.vegetables li {
  color: black;
}
