div {
  background-color: #0E91A1;
  color: #005566;
  font-size: 36px;
  font-family: sans-serif;
  width: 347px;
  height: 133px;
  padding: 20px;
  border: 10px solid #7DCE94;
  margin: 10px 10px 20px;
}
